@use '../styles/variables' as *
@use '../styles/mixins' as *

.adminLayout
  min-height: 100vh

.adminHeader
  background: $header-background-color
  color: $white-text-color
  padding: 3rem 0
  margin-bottom: 5rem

.adminContainer
  @include flex-between

.backLink
  color: $white-text-color
  text-decoration: none
  font-size: 2rem
  transition: $transition

  &:hover
    color: $header-hover-color
    text-decoration: none

.adminTitle
  font-size: 3rem

.adminMain
  max-width: 120rem
  margin: 0 auto
