$primary-color: #0051cc
$white-text-color: #fff
$header-background-color: #1a1a2e
$header-hover-color: #e94560
$notFound-code-color: #ff0000
$notFound-hover-color: #2070e9
$border-form-color: #ddd
$success-text-color: #155724
$success-background-color: #d4edda
$error-text-color: #721c24
$error-background-color: #f8d7da
$gray-color: #999

$transition: 0.3s ease
$border-radius-onerem: 1rem

$font-weight-bold: 600
